NODE_ENV=development

PORT=4000
DATABASE_URL=
BCRYPT_SALT_ROUNDS=10

# JWT configuration for access and refresh tokens
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_LIFE=30d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_LIFE=100d


# Brevo credentials for transactional email
BREVO_USER=
BREVO_API_KEY=
